@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
 font-family: 'Poppins', sans-serif;
 box-sizing: border-box;
}
body{
 background: wheat;
 
}
.chat-bot {
 margin-left: 5%;
 overflow: hidden;
 border-radius: 10px;
 margin-top: 10%;
 background: #fff;
 width: 90%;
 height: 72vh;
 overflow: hidden;
 position: relative;
 transform: scale(0.5);
 transition: 0.4s ease;
 opacity: 0;
 pointer-events: none;
 
}
.show-chatbot .chat-bot{
 transform: scale(1);
 opacity: 1;
 pointer-events: auto;
}
.chatbot-toggler{
 position: fixed;
 right: 30px;
 bottom: 50px;
 height: 50px;
 width: 50px;
 background: #724ae8;
 color: #fff;
 border-radius: 50%;
 border: none;
 outline: none;
 display: flex;
 cursor: pointer;
 align-items: center;
 justify-content: center;
 transform: translateX(-50%)
}
.chatbot-toggler span{
 position: absolute;
}
.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child{
 opacity: 0;
}
.show-chatbot .chatbot-toggler span:last-child{
 opacity: 1;
}

header{
 padding: 1px 0;
 font-weight: bold;
 text-align: center;
 background: #724ae8;
 color: #fff;
 
}
.chatbox {
 max-height: 400px;
 /* Adjust the maximum height as per your requirement */
 overflow: auto;
}

.chat-input{
 position: absolute;
 bottom: 0;
 padding: 7px 10px;
 border-top: 1px solid #ccc;
 display: flex;
 gap: 5px;
}
.chat-input textarea{
 border: none;
 outline: none;
 resize: none;
 padding: 15px 16px 15px 0;
 font-size: 0.95rem;
 width: 100%;
 height: 55px;
 max-height: 150px;
}
.chat-input span{
 visibility: hidden;
 height: 55px;
 line-height: 55px;
}
.chat-input textarea:valid ~ span{
 visibility: visible;
}


.incoming{
 display: flex;
 list-style: none;
 margin-left: -10%;
 margin-right: 5%;
 margin-bottom: -2%;
}
.incoming p{
 overflow-x: hidden;
 margin-top: 10px;
 padding: 0.50rem;
 background: #f2f2f2;
 color: #000;
 border-radius: 10px 10px 10px 0;
}
.chat p.error{
 color: #721c24;
 background: #f8d7da;
}
.incoming span{
 align-self: flex-end;
 margin-bottom: 7%;
 margin-right: 3%;
 background: #724ae8;
 color: #fff;
 border-radius: 4px;
 line-height: 32px 50px;
 text-align: center;
}

.outgoing{
 list-style: none;
}
.outgoing p{
 background: #724ae8;
 color: #fff;
 border-radius: 10px 10px 0 10px;
 padding: 5px;
 margin-right: 1rem;
 margin-bottom: 10px;
}
.showInfo{
 position: absolute;
 right: 20%;
 top: 30%;
 font-size: 20px;
 display: block;
}
.showInfo a{
 text-decoration: none;
 color: red;
}
.showInfo.active{
 display: block;
}
@media(min-width:672px){
 .chat-bot{
  width: 90%;
  height: 50vh;
 }
 .incoming{
  margin-left: 1%;
 }
 .chat-input{
  margin-left: 1%;
  width: 100%;
 }
 .chat-input span{
  margin-right: 2%;
 }
}